<div class="information">
	<ul class="list">
		<li><label class="info">username: </label>{{username}}</li>
		<li><label class="info">first name: </label>{{firstName}}</li>
		<li><label class="info">last name: </label>{{lastName}}</li>
		<li><label class="info">profession: </label>{{profession}}</li>
		<li><label class="info">biography: </label>{{bio}}</li>
	</ul>
</div>